<div class="upload-container">
    <img [src]="ImageUrl ||'./assets/upload.png'">

    <form class="form" (submit)="setInCollection()">
        <mat-form-field appearance="fill">
            <mat-label>Tag or Name</mat-label>
            <input type="text" [(ngModel)]="imageData.name" [ngModelOptions]="{standalone: true}" matInput placeholder="Ex. Cat, Dog, Navjot...">
        </mat-form-field>
    </form>


    <div class="buttons">
        <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
        <input hidden #fileInput (change)="uploadImagestoStorgae($event)" type="file" id="file" name="image" accept=".png, .jpg">
        <button mat-raised-button class="upload-btn" [disabled]="!Uploadallowed" disabled (click)="setInCollection()"> <mat-icon>upload</mat-icon> Upload</button>
        <button mat-raised-button mat-dialog-close (click)="cancelUpload()"> Close</button>
    </div>
</div>