.upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        width: 300px;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    button {
        margin: 5px;
    }
}